# Logs
*.log
phpunit.result.cache
.phpunit.cache

# Environment files
.env
.env.backup
.env.production

# IDE / Editor configs
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json

# Composer / Node
/vendor
/node_modules
/auth.json

# Laravel storage
/storage/*.key
/storage/framework/*
/storage/logs/*
/storage/pail

# Public assets
/public/hot
/public/storage

# Build output
/public/build

# Homestead
Homestead.json
Homestead.yaml
